/*base*/
body {
    
}

.parent {
    width: 100vh;
    height: 100vh;
}

p {
    width: clamp(45ch, 50%, 75%); /*citando a Robert Bringhurst - the elements of typographic style */
}


/*elementos rapidos*/
.box {
}

.container {
    width: 100px;
    height: 100px;
    margin: 1rem;
    border: 1px solid;
}

/*keywords*/
.row-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-flex {
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
}