:root{
    --inch: 0.95rem;
    --anchoPokemon: 500px;
}

.scenary {
    display: grid;
    grid-template-columns: 1fr var(--anchoPokemon) 1fr var(--anchoPokemon) 1fr;
}

.pokemon-container {
    display: flex;
    width: 500px;
}

.pokemon-imagen{
    display: flex;
    justify-content: center;
    height: 400px;
}

.pokemon-imagen img{
    width: calc(100% - 2*var(--inch));
    margin: auto;

}

.controles {
    background-color: white;

    position: relative;
    padding: var(--inch);
    display: grid;
}

.controles button{
    margin-top: 0.15rem;
}

.vida {
    display: flex;
    justify-content: center;
}
